<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143896371743-tjue38tmk163ot85f7njo2qvoiouoql9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143896371743-tjue38tmk163ot85f7njo2qvoiouoql9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143896371743-6oj4fh2pavim112oaqqe6459pcqf1u7s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQiVVBXKYEKRPpDUiO-UimMk2BUj0NgU</string>
	<key>GCM_SENDER_ID</key>
	<string>143896371743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bWallet</string>
	<key>PROJECT_ID</key>
	<string>bwallet-82ce9</string>
	<key>STORAGE_BUCKET</key>
	<string>bwallet-82ce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143896371743:ios:94ab52b34f28fbfd5feb2a</string>
</dict>
</plist>